<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.recipe.dao.ShowMapper">

    <select id="getTypeMsgMapper" resultType="com.code.recipe.bean.TypeBean">
        select * from types
    </select>

    <select id="getNavMsgMapper" resultType="com.code.recipe.bean.NavBean">
        select * from nav
    </select>

    <select id="getPostMsgMapper" resultType="com.code.recipe.bean.PostBean">
        select * from post where post_id=#{post_id}
    </select>

    <select id="getMaterialMsgMapper" resultType="com.code.recipe.bean.MaterialBean">
        select * from material from where post_id=#{post_id}
    </select>

    <select id="getMethodMsgMapper" resultType="com.code.recipe.bean.MethodBean">
        select * from methods where post_id=#{post_id} order by seq
    </select>

    <select id="getLikeMsgMapper" resultType="com.code.recipe.bean.LikeBean">
        select * from likes
    </select>

    <select id="getFocusMsgMapper" resultType="com.code.recipe.bean.FocusBean">
        select * from focus
    </select>

    <select id="whetherExistLikeMessageMapper" resultType="int">
        select count(like_id) from likes where post_id=#{post_id} and name=#{name}
    </select>

    <select id="whetherExistFocusMessageMapper" resultType="int">
        select count(focus_id) from focus where name=#{name} and who=#{who}
    </select>

</mapper>